
// biến
$word_color: rgb(245, 43, 94);
$word_high: rgb(41,56,73);
$word_low: rgb(117, 117, 117);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 62.5%;
}

@mixin size($height, $width) {
    height: $height;
    width: $width;
}

@mixin option($font, $line, $color)
{
    text-decoration: none;
    font-size: $font;
    line-height: $line;
    color:$color;
}

.detail
{
    @include size(100%, 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    &__Navbar
    {
        position: absolute;
        right: -1%;
        top: -2%;
        &-circle
        {
            @include size(3.5rem, 3.5rem);
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            i
            {
                font-size: 2rem;
                color: red;
                margin:0.75rem 1.05rem;
            }
        }
    }
    &__content
    {
        @include size(85%, 87%);
        //background-color: rebeccapurple;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -52%);
        display: flex;
        flex-direction: row;
        text-align: center;
        img 
        {
            @include size(100%, 60%);
            object-fit: cover;
        }
        &-product
        {
            margin-left: 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .name
            {
                font-size: 2.7rem;
                font-weight: 550;
                color: $word_high;
                padding: 0rem 2rem 1rem 0rem;
            }
            .desc
            {
                font-size: 1.5rem;
                font-weight: 500;
                color: $word_low;
                padding: 0rem 2rem 1rem 0rem;
                text-align: justify;
                //background-color: red;
            }

            .create
            {
                display: flex;
                flex-direction: row;
                padding: 0rem 2rem 1rem 0rem;
                p:first-child
                {
                    font-size: 1.5rem;
                    color: $word_high;
                }
                p:last-child
                {
                    font-size: 1.3rem;
                    color: $word_low;
                    margin-left: 1rem;
                    text-align: justify;
                }
            }

            .tech
            {
                display: flex;
                flex-direction: row;
                padding: 0rem 2rem 1rem 0rem;

                p:first-child
                {
                    font-size: 1.5rem;
                    color: $word_high;
                    width: 17rem;
                    text-align: justify;
                }

                p:last-child
                {
                    font-size: 1.3rem;
                    color: $word_low;
                    margin-left: 1rem;
                    text-align: justify;
                }
                
            }

            .role
            {
                display: flex;
                flex-direction: row;
                padding: 0rem 2rem 1rem 0rem;
                p:first-child
                {
                    font-size: 1.5rem;
                    color: $word_high;
                    width: 5rem;
                    text-align: justify;
                }
                p:last-child
                {
                    font-size: 1.3rem;
                    color: $word_low;
                    margin-left: 1rem;
                    text-align: justify;
                }
            }

            .view
            {
                display: flex;
                flex-direction: row;
                padding: 0rem 2rem 2rem 0rem;
                p:first-child
                {
                    font-size: 1.5rem;
                    color: $word_high;
                    width: 10rem;
                    text-align: justify;
                }
                &__link
                {
                    font-size: 1.3rem;
                    color: $word_color;
                    margin-left: 1rem;
                    text-align: justify;
                }
            }
        }
    }
}